table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 100%;
    text-align: center
  }

  .container {
    padding: 1px 10px;
    padding-bottom: 10px;;
  }

  h2{
    color: green;
  }

